[submodule "market-growth"]
	path = market-growth
	url = git@github.com:CBSDLab/market-growth.git
[submodule "cressive-legitimation"]
	path = cressive-legitimation
	url = git@github.com:CBSDLab/cressive-legitimation.git
[submodule "tragedy-of-commons"]
	path = tragedy-of-commons
	url = https://github.com/CBSDLab/tragedy-of-commons
[submodule "Bass-diffusion"]
	path = Bass-diffusion
	url = https://github.com/CBSDLab/Bass-diffusion
